<a href="https://colab.research.google.com/github/richardloh0723/text-mining/blob/main/EDA_Text_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA on Text Data

Clothing ID: Integer Categorical variable that refers to the specific piece being reviewed.

Age: Positive Integer variable of the reviewers age.

Title: String variable for the title of the review.

Review Text: String variable for the review body.

Rating: Positive Ordinal Integer variable for the product score granted by the customer from 1 Worst, to 5 Best.

Recommended IND: Binary variable stating where the customer recommends the product where 1 is recommended, 0 is not recommended.

Positive Feedback Count: Positive Integer documenting the number of other customers who found this review positive.

Division Name: Categorical name of the product high level division.

Department Name: Categorical name of the product department name.

Class Name: Categorical name of the product class name.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# make sure all the plot will be plotted inside jupyter notebook itself
%matplotlib inline

In [ ]:
import plotly as py
import cufflinks as cf

In [ ]:
from plotly.offline import iplot

In [ ]:
py.offline.init_notebook_mode(connected=True)
cf.go_offline()

# Data Import

In [ ]:

df = pd.read_csv('./datasets/Womens Clothing E-Commerce Reviews.csv', index_col=0)
df.head()

   Clothing ID  Age  ... Department Name Class Name
0          767   33  ...        Intimate  Intimates
1         1080   34  ...         Dresses    Dresses
2         1077   60  ...         Dresses    Dresses
3         1049   50  ...         Bottoms      Pants
4          847   47  ...            Tops    Blouses

[5 rows x 10 columns]

In [ ]:
# in this list we are not going to need clothing id and title.
# therefore, we can remove it using pandas
df.drop(labels=['Title', 'Clothing ID'], axis = 1, inplace=True)
df.head()

   Age  ... Class Name
0   33  ...  Intimates
1   34  ...    Dresses
2   60  ...    Dresses
3   50  ...      Pants
4   47  ...    Blouses

[5 rows x 8 columns]

In [ ]:
# Data checking (null values)
df.isnull().sum() # give null values amount

Age                          0
Review Text                845
Rating                       0
Recommended IND              0
Positive Feedback Count      0
Division Name               14
Department Name             14
Class Name                  14
dtype: int64

In [ ]:
# drop null value
df.dropna(subset=['Review Text', 'Division Name'])

       Age  ... Class Name
0       33  ...  Intimates
1       34  ...    Dresses
2       60  ...    Dresses
3       50  ...      Pants
4       47  ...    Blouses
...    ...  ...        ...
23481   34  ...    Dresses
23482   48  ...      Knits
23483   31  ...    Dresses
23484   28  ...    Dresses
23485   52  ...    Dresses

[22628 rows x 8 columns]